<VirtualHost *:80>

	ServerAdmin support@{{ domainname }}
	ServerName {{ domainname }}
	ServerAlias *.{{ domainname }}

	DocumentRoot /var/www/{{ domainname }}/current/{{ domainroot }}

        <Directory /var/www/{{ domainname }}/current>
                Options -Indexes +FollowSymLinks
                AllowOverride All
        </Directory>

</VirtualHost>

